[submodule "MesKit"]
	path = MesKit
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_MesKit.git
[submodule "Hailstorm"]
	path = Hailstorm
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_Hailstorm.git
[submodule "Heatmap_figures"]
	path = Heatmap_figures
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_Heatmap_Figures.git
[submodule "RNAseq"]
	path = RNAseq
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_RNAseq.git
[submodule "WES"]
	path = WES
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_WES.git
[submodule "DepMap"]
	path = DepMap
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_DepMap.git
[submodule "Mixed_Analyses"]
	path = Mixed_Analyses
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_mixed_analyses.git
