[submodule "MesKit"]
	path = MesKit
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_MesKit.git
[submodule "Hailstorm"]
	path = Hailstorm
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_Hailstorm.git
[submodule "Heatmap_figures"]
	path = Heatmap_figures
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_Heatmap_Figures.git
[submodule "RNAseq"]
	path = RNAseq
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_RNAseq.git
[submodule "WES"]
	path = WES
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_WES.git
[submodule "DepMap"]
	path = DepMap
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_models_LatAm_DepMap.git
[submodule "Mixed_Analyses"]
	path = Mixed_Analyses
	url = https://github.com/team113sanger/Acral_Melanoma_PDX_mixed_analyses.git
[submodule "Somatic_calling_figures"]
	path = Somatic_calling_figures
	url = git@github.com:team113sanger/Acral_Melanoma_Somatic_Calling_Figures.git
[submodule "Crispr_Shared_Hits"]
	path = Crispr_Shared_Hits
	url = git@github.com:team113sanger/Acral_Melanoma_PDX_models_LatAm_Crispr_Shared_Hits.git
[submodule "CNA_Fusions_Signatures"]
	path = CNA_Fusions_Signatures
	url = git@github.com:JReneWong/AcralMelanoma_CNVs-FusionTranscripts-MutSigns.git
[submodule "DepMap_Resource"]
	path = DepMap_Resource
	url = git@github.com:team113sanger/acral_melanoma_depmap_pancaner_resource.git
